*{
    margin: 0;
    padding: 0;
    font-family: "Playfair", serif;
}

body{
    align-content: center;
}

.contenedor_de_loginRegistro{
    background-image: url('../assets/carrusel/entradas.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.contenedor_estilo_form{
    width: 100%;
    height: auto;

    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.233);
}

.contenedor_form{
    background-color: whitesmoke;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.432);

    width: 40vw;
    height:50%;
    margin: 0 auto;

    padding: 30px;
    border-radius: 25px;
    text-align: center;
}
.cont_titulo{
    margin-bottom: 20px;
}

.cont_titulo img{
    width: 20%;
}
form{
    margin: 10px;
    text-align: start;
    color: rgb(0, 0, 0);
    text-align: center;
}

form label{
    padding: 10px;
}

form input{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 40px;

    background-color: rgba(245, 245, 245, 0.429);
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.324);

    border: none;
    border-radius: 25px;
    text-align: center;
}

form button{
    border:  none;
    background-color: #667D41;
    width: 100%;
    height: 40px;
    border-radius: 25px;
    cursor: pointer;
    color: whitesmoke;

    margin-top: 20px;
    margin-bottom: 10px;

    font-weight: bold;
    font-size: 1.1em;
}

form button:hover{
    background-color: #37461f;
    color: whitesmoke;
}

.registrase a{
    color: #667D41;
    text-decoration: none;
}

.registrase a:hover{
    text-decoration:underline;
}

#carrera{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 40px;

    background-color: rgba(245, 245, 245, 0.429);
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.324);

    border: none;
    border-radius: 25px;
    text-align: center;
}