*{
    margin: 0;
    padding: 0;
    color: whitesmoke;
    font-family: "Playfair", serif;
}

body{
    background-color: whitesmoke;
    align-content: center;
}

#contenedor_form{
    background-color: #B43F1D;

    width: 40vw;
    margin: 0 auto;
    margin-top: 60px;

    padding: 30px;
    border-radius: 25px;
    text-align: center;
}

form{
    margin: 10px;
    text-align: start;
    color: whitesmoke;
}

form label{
    padding: 10px;
    margin-left: 30px;
}

form input{
    margin: 10px;
    width: 90%;
    height: 30px;

    background-color: rgba(245, 245, 245, 0.429);
    border: none;
    border-radius: 25px;

    padding: 7px;
}

form button{
    border:  none;
    background-color: whitesmoke;
    width: 100%;
    height: 40px;
    border-radius: 25px;
    cursor: pointer;
    color: black;
}

form button:hover{
    background-color: #8e2b0d;
    color: whitesmoke;
}