.carrusel_contenedor {
    max-width: 1000px;
    height: 50vh;
    position: relative;
    margin: auto;
    margin-top: 40px;
    overflow: hidden; /* Oculta elementos que están fuera del contenedor */
}

.carrusel_slider img {
    width: 100%;
    display: none; /* Oculta todas las imágenes por defecto */
}

/* Estilo para la imagen activa (se añadirá/eliminará con JS) */
.carrusel_slider img.active {
    display: block;
}

/* Estilos para los botones de navegación */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 0 auto;
    padding: 16px;
    margin-top: -22px;
    margin-right: 30px;
    color: white;

    font-size: 1.6em;
    transition: 0.6s ease;
    user-select: none;
    background-color: transparent;
    border: none;

    position: absolute;
    z-index: 1000;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    transform: scale(1.4);
}


#sobreTexto{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.356);
    position: absolute;
    z-index: 2;

    text-align: center;
    align-content: center;
}

#sobreTexto img{
    width: 20%;
}

.contenido_texto{

    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: transparent;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.463);
    border-radius: 25px;
    padding: 20px;
    text-align: center;
    
}

/*informacion*/


#titulo_bienvenida{
    font-weight: bold;
    padding: 50px;

    font-size: 1.3em;
}

.texto_restaurante{
    text-align: justify;
    padding: 20px;
}

.texto_restaurante p{
    margin-top: 12px;
}


.banner{
    width: 100%;
    height: 70px;
    align-content: center;

    background-image: url('../assets/carrusel/315_Thai_banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    color: whitesmoke;
}

.banner p{
    background-color: rgba(40, 40, 40, 0.596);
    width: 100%;
    height: 100%;
    align-content: center;

    font-size: 1.5em;
    font-weight: bold;
}

h4{
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}


#ficha{
    width: 20%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

#ficha img{
    width: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.151);
}

.misionVision{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: justify;
    margin-top: 20px;
    border-radius: 15px;
    margin-bottom: 25px;

    color: black;
    background: whitesmoke;

    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.434);
}

.misionVision:hover{
    transform: scale(1.05);
}

.misionVision p{
    margin: 20px;
}

.misionVision h3{
    font-size: 1.4em;
    text-align: center;
    margin: 7px;
}

.contacto{
    background-color: whitesmoke;
    padding: 5px;
    margin: 10px;
}

.contacto p{
    width: 100%;
    margin-top: 10px;
    text-align: center;

    font-size: 1.2em;
    font-weight: bold;
}

