.carrusel_contenedor {
    max-width: 1000px;
    height: 50vh;
    position: relative;
    margin: auto;
    margin-top: 40px;
    overflow: hidden; /* Oculta elementos que están fuera del contenedor */
}

.carrusel_slider img {
    width: 100%;
    display: none; /* Oculta todas las imágenes por defecto */
}

/* Estilo para la imagen activa (se añadirá/eliminará con JS) */
.carrusel_slider img.active {
    display: block;
}

/* Estilos para los botones de navegación */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 0 auto;
    padding: 16px;
    margin-top: -22px;
    margin-right: 30px;
    color: white;

    font-size: 1.6em;
    transition: 0.6s ease;
    user-select: none;
    background-color: transparent;
    border: none;

    position: absolute;
    z-index: 1000;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    transform: scale(1.4);
}


#sobreTexto{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.356);
    position: absolute;
    z-index: 2;

    text-align: center;
    align-content: center;
}

#sobreTexto img{
    width: 20%;
}

.contenido_texto{

    width: 50%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: transparent;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.463);
    border-radius: 25px;
    padding: 20px;
    text-align: center;
    
}

#titulo_bienvenida{
    font-weight: bold;
    padding: 50px;
}

#texto_restaurante{
    text-align: justify;
    padding: 20px;
}