*{
    margin: 0;
    padding: 0;
}



.intro{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #667D41;
    transition: 1s;
    text-align: center;

}

.logo_header{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-size: 3rem;
    align-content: center;
}

.logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;

    color: whitesmoke;
}

.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 1s;
}

.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 1s;
}
